/* css added by Vipin starts*/
body {
	margin-top: 2rem;
}

a {
	outline: none;
}

.left-menu-container {
	padding: 0px;
}

.accordion-item-withou-child {
	background: white;
}

.righ-menu-group-header {
	background: #ffffff;
}

.righ-menu-group-header a {
	color: #babdb6 !important;
	box-shadow: inset 0 -1px #eeeeec !important;
	box- font-size: 0.8rem;
	padding-bottom: 8px !important;
	padding-left: 8px !important;
}

.new-scan-button {
	margin-top: 8px;
	margin-bottom: 8px !important;
}

.is-accordion-submenu-parent a {
	background: #ffffff;
}

.is-accordion-submenu a {
	background: #f9f9f9;
}

/* [data-accordion-menu] .is-accordion-submenu-parent[aria-expanded="true"] a.subitem::before {

  content: "\f016";

  font-family: FontAwesome;

  margin-right: 1rem; }



[data-accordion-menu] .is-accordion-submenu-parent[aria-expanded="true"] a::before {

  content: "\f07c";

  font-family: FontAwesome;

  margin-right: 1rem; }



[data-accordion-menu] .is-accordion-submenu-parent[aria-expanded="false"] a::before {

  content: "\f07b";

  font-family: FontAwesome;

  margin-right: 1rem; } */
.sublevel-1 {
	text-indent: .5rem;
}

.sublevel-2 {
	text-indent: 2rem;
}

.sublevel-3 {
	text-indent: 3rem;
}

.sublevel-4 {
	text-indent: 4rem;
}

.sublevel-5 {
	text-indent: 5rem;
}

.sublevel-6 {
	text-indent: 6rem;
}

[data-accordion-menu] a {
	color: #555753;

	/* box-shadow: inset 0 -1px #ffffff; */
}

[data-accordion-menu] a::after {
	border-color: #2e3436 transparent transparent;
}

.menu>li:not (.menu-text ) >a {
	padding: 1.2rem 1rem;
}
/* offcanvas  */
.position-left.reveal-for-large {
	left: 0;
}

.off-canvas.position-left {
	top: 0;
}

.off-canvas {
	background: white none repeat scroll 0 0;
	min-height: 100%;
	position: absolute !important;
	transform: translateX(0px);
	z-index: -1;
}

/* footer */
@charset "UTF-8";

.hero {
	background: url("http://images7.alphacoders.com/330/330811.jpg")
		no-repeat center center;
	background-size: cover;
	height: 50vh;
	overflow: hidden;
}

.row {
	max-width: 1200px;
}

.footer {
	background-color: #babdb6;
	text-align: center;
	font-size: 1.2rem;
	padding: 1rem;
}

.footer .social a {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	background-color: #babdb6;
	border-radius: 2px;
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	line-height: 2rem;
	margin: 0 3px 0 0;
}

.footer .copywrite {
	color: #8f9296;
	font-size: 0.875rem;
	margin: 1rem 0 1rem 0;
}

.footer .footer-form textarea, .footer .footer-form input {
	border-radius: 3px;
	background-color: #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
	font: inherit;
	font-size: 0.875rem;
	font-weight: normal;
	color: #d1d2d2;
	padding: 1.3rem;
}

.footer .footer-form label {
	color: #fff;
	font-size: 1.2rem;
	margin: 0 0 1rem 0;
	font-weight: bold;
}

.footer .footer-form .submit {
	border-radius: 3px;
	background-color: #33383b;
	color: #ffffff;
	border: 0;
	padding: 1rem 3.5rem;
	font-weight: bold;
	float: right;
	margin: 0 1rem 2rem 0;
}

.footer .footer-links a {
	list-style: none;
	font-weight: normal;
	color: #fff;
	padding: 3rem 0 2rem;
	margin: 0;
	font-size: 0.875rem;
}

.footer .footer-links a::after {
	content: "•";
	padding: 0 0.2rem 0 0.4rem;
}

.footer .footer-links a:last-child::after {
	content: "";
	padding: 0 0.4rem 0 0.8rem;
}

@media only screen and (min-width: 40.063em) {
	.footer {
		padding: 4rem;
	}
	.footer p {
		text-align: left;
	}
	.footer .social {
		text-align: left;
		margin: 0;
	}
	.footer .footer-form .contact {
		position: absolute;
		left: -45%;
		top: 10%;
	}
}

.logo {
	color: #fff;
	font-size: 1.5rem;
}
.closeButton{
	margin-top: 32px;
}
.logo i {
	margin-right: 0.5rem;
}
.callout.custom {
    padding-top: 7rem;
    padding-right: 7rem;
    padding-bottom: 7rem;
    padding-left: 7rem; }

 .alerthigh{
   border-left:  solid 5px red !important;
   
   }
   .alertmedium{
   border-left : solid 5px yellow;
   border-bottom: 1px dotted;
   }
   .alertlow{
   border-left : solid 5px #808080;
   }
/*login form*/
.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }

#login {
    position: absolute;
    left: 50%;
    top: 50%;
    
    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.new-scan-middle{
	min-height: 135px;
	 padding-top: 45px;
}

.button-group {

  position: relative;

  display: inline-block;

  margin: 1rem 0; }

  .button-group:before {

    content: attr(data-grouptype);

    z-index: 99999;

    color: #999;

    display: block;

    font-size: 1rem;

    padding: 0.25em;

    border-radius: 50%;

    background: #fff;

    position: absolute;

    left: 42.5%;

    top: 0.35rem; }

  .button-group button + button {

    margin-left: 5px; }


.loading { margin: auto; }

.loading span {
  line-height: 32px;
  margin-left: 12px;
  font-size: 16px;
  vertical-align: middle;
}

.loading img { vertical-align: middle; }

.loading_wrp {
  background-color: #FFF;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1020;
}

.loading_wrp .x16 span {
  line-height: 16px;
  font-size: 12px;
  margin-left: 6px;
}

.loading_wrp .x32 img {
  width: 32px;
  height: 32px;
}

.scan-status-bar{
	position: relative !important;
	margin: 0 0 0 10px !important;
}

/* css added by Vipin ends*/
.formEdit{
  float: left;
  padding-left: 2px;
 }